@font-face {
  font-family: Norse-Bold;
  src: url(./norse-bold-webfont.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --font: g
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

a {
  color: white;
}

.left-section {
  width: 40%;
  background: url("./img/halie-west-25xggax4bSA-unsplash.jpg") no-repeat center /
    cover;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 19vh;
  width: 100%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 130px;
}

.logo p {
  color: white;
  font-size: 5rem;
  font-family: Norse-Bold, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
  height: 100px;
}

.credit {
  color: white;
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 56px;
}

.right-section p {
  font-size: 1.5rem;
  max-width: 65ch;
  font-weight: 600;
}

.right-section p:nth-child(2) {
  margin-bottom: 25px;
}

.text {
  background-color: rgb(245, 245, 245, 0.2);
  margin-bottom: 28px;
}

form {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

li {
  list-style: none;
}

li:nth-child(even) {
  margin-left: 50px;
}

label { 
  font-weight: 600;
  font-size: 0.7rem;
}

input {
  display: block;
  width: 20vw;
  height: 30px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 8px;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid blue;
  border: none;
  box-shadow: 1px 1px 4px black;
}

form h1 {
  color: rgb(31, 30, 30);
  margin: 24px 0;
}